<app-card>
  <app-card-title icon="book">Education</app-card-title>

  <div class="dl-container">
    <div>
      <h5><b>University of Alberta</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        2018 -
        <span>Present</span>
      </h6>
      <p>M.Eng in Chemical and Materials Engineering</p>
      <hr />
    </div>
    <div>
      <h5><b>Tecnológico de Monterrey ITESM</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        2012 - 2016
      </h6>
      <p>B.S in Biotechnology Engineering</p>
      <div style="padding-left: 20px">
        <h6 class="s">
          <i class="fa fa-calendar fa-fw"></i>
          2015 - 2016
        </h6>
        <p class="xs">President of the student council</p>
      </div>
      <div style="padding-left: 20px">
        <h6 class="s">
          <i class="fa fa-calendar fa-fw"></i>
          2015 - 2016
        </h6>
        <p class="xs">
          President of the organizing committee of
          <i style="margin: 0px; color: #000000">Splicing</i>
          , the third biotechnology symposium
        </p>
      </div>
      <hr />
    </div>
  </div>
</app-card>
