<app-card>
  <app-card-title icon="signal">MOOCS and online courses</app-card-title>
  <div style="display: grid; grid-template-columns: 1fr 1fr">
    <div class="dl-container">
      <h5><b>Angular, Ionic 3, Node.js, MEAN</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        Udemy
      </h6>
      <small>By Maximillian Schwartzmüller</small>
      <hr />
    </div>
    <div class="dl-container">
      <h5><b>Ionic 3</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        Udemy
      </h6>
      <small>By Paul Halladay</small>
      <hr />
    </div>
  </div>
  <div style="display: grid; grid-template-columns: 1fr 1fr">
    <div class="dl-container">
      <h5><b>HTML & JS</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        EDX
      </h6>
      <small>By Microsoft</small>
      <hr />
    </div>
    <div class="dl-container">
      <h5 class="one-line"><b>Agile software development</b></h5>
      <h6>
        <i class="fa fa-calendar fa-fw"></i>
        EDX
      </h6>
      <small>By ETH</small>
      <hr style="margin-bottom: 10px" />
    </div>
  </div>
</app-card>
